.coverImage {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 773px;
    overflow: hidden;
    min-width: 1200px;
    min-height: 773px;
    background-color: #ffffff;
    // max-width: 1500px;
    img {
        // height: 773px;
        object-fit: cover;
        min-height: 773px;
        width: 100%;
        transition: opacity 0.6s ease-in-out;
    }
}
.coverImage .fade_image {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

.coverImage .fade_in {
    opacity: 1;
}

.coverImage .fade_out {
    opacity: 0;
}

.coverImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1D1D1D50;
}

.movieinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 82px;
    height: 690px;
    &_name {
        :first-child {
            font-size: 72px;
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 0;
            padding: 0;
        }
        :nth-child(2) {
            font-size: 72px;
            font-weight: 300;
            color: #ffffff;
            margin-top: -24px;
            padding: 0;
        }
    }
    &_logo {
        color: #fff;
        span {
            color:#AB0A10;
        }
    }
    &_btn {
        margin-top: 60px;
    }
}
.movieinfo_story {
    display: flex;
    flex-direction: column;
    margin: 25px 45px;
    padding: 35px;
    background-color: #D9D9D9;
    border-radius: 10px;
    // width: 60%;
    &_header {
        font-size: 25px;
        font-weight: 600;
    }
    &_detail {
        margin-top: 35px;
        padding: 0px 20px;
        font-size: 20px;
        text-indent: 2.5em;
        line-height: 1.9em;
    }
}
.movieinfo_actor {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    // border: 0.5px solid #262626;
    margin: 20px 0px;
    margin-bottom: 50px;
    &_header {
        font-size: 25px;
        font-weight: 600;
    }
    &_pic {
        width: 100%;
        // background-color: #AB0A10;
        padding: 0;
    }
}

.movieinfo_container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    column-gap: 35px;
    margin-left: 29px;
    margin-bottom: 50px;
}

.movieinfo_review {
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    border: 0.5px solid #262626;
    // background-color: #AB0A10;
    border-radius: 12px;
    padding: 20px 50px;
    height: 900px;

    &_header {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        button {
            color:#fff;
            background-color: #141414;
            border-radius: 9px;
            padding: 12px 15px;
            font-size: 16px;
        }
    }
    h1 {
        font-size: 20px;
        font-weight: 500;
    }
    &_box {
        width: 100%;
        overflow-y: scroll;
          // ✅ ซ่อน scrollbar สำหรับ Chrome, Edge
        &::-webkit-scrollbar {
            display: none;
        }

        // ✅ ซ่อน scrollbar สำหรับ Firefox
        scrollbar-width: none;

        // ✅ ซ่อน scrollbar สำหรับ IE และเก่าๆ
        -ms-overflow-style: none;
    }
    &_comment {
        background-color: #0F0F0F;
        color:#fff;
        border-radius: 12px;
        width: 740px;
        height: auto;
        min-height: 240px;
        margin: 20px 55px;
        padding: 40px;
        &_info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #262626;
            margin-bottom: 20px;
        }
        &_box {
            display: flex;
            align-items: center;
        }
        &_pic {
            display: inline-block;
            width: 40px;
            border-radius: 50%;
            aspect-ratio: 1;
            background-color: #AB0A10;
            margin-right: 8px;
        }
    }
}

.movieinfo_data {
    display: flex;
    flex-direction: column;
    // background-color: #ff6262;
    border: 0.5px solid #262626;
    border-radius: 12px;
    margin-right: 150px;
    padding: 50px;
    &_container:not(:last-child) {
        // border: 0.5px red solid;
        margin-bottom: 30px;
    }
    &_header {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
    }
    &_icon {
        width: 24px;
        height: 24px;
        margin-right: 3px;
        // border: 0.5px yellow solid;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    &_genre {
        display: flex;
        flex-wrap: wrap;
    }
    &_date {
        font-size: 20px;
        font-weight: 600;
        margin-top: 14px
    }
    &_score {
        color:#fff;
        background-color: #0F0F0F;
        width: fit-content;
        padding: 16px;
        border-radius: 8px;
        margin-top: 14px;
        &_header {
            font-size: 20px;
            font-weight: 500;

        }
    }
    &_box {
        display: flex;
        margin-top: 14px;
        div {
            padding: 8px 14px;
            background-color: #0F0F0F;
            color: #fff;
            border-radius: 8px;
            margin-right: 10px;
        }
    }
    &_director {
        display: flex;
        background-color: #0F0F0F;
        border-radius: 8px;
        padding: 14px;
        margin-top: 14px;
        &_image {
            width: 60px;
            height: 60px;
            // border: 0.5px white solid;
            margin-right: 10px;
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &_name {
            color: #ffffff;
            font-size: 20px;
        }
        &_role {
            color: #999;
            font-size: 16px;
        }
    }
}

.star_rating {
    position: relative;
    display: inline-block;
    font-size: 24px; /* ขนาดของดาว */
    color: #ccc; /* สีของดาวเงา */
  }
  
.star_background {
position: relative;
z-index: 1;
color: #ccc; /* สีของดาวที่เป็นเงา */
}

.star_foreground {
position: absolute;
top: 0;
left: 0;
white-space: nowrap;
overflow: hidden;
z-index: 2;
color: red; /* สีของดาวที่เต็ม */
}

.btn {
    margin-right: 16px;
}
.btn_watchNow {
    display: inline-block;
    color:white;
    border-color: #FFFFFF60;
    background-color: #AB0A10;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px; 
    padding: 14.5px 21.5px 14.5px;
    i {
        margin-right: 12px;
    }
}

.btn_watchTrailer {
    color:rgb(210, 210, 210);
    border-color: #FFFFFF60;
    background-color: transparent;
    padding: 14.5px 26px;
    font-size: 16px;
    border-radius: 8px;  
}

//ลองทำ
.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* พื้นหลังมืด */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* จัดการเนื้อหา Popup */
.popup_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 0.5px solid #AB0A10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%; /* กำหนดขนาดหน้าต่าง */
    position: relative;
}

.popup_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: #AB0A10;
}

.popup_submit {
    position: relative;
    left: 75%;
    background-color: #AB0A10;
}

.popup_submit:hover {
    position: relative;
    left: 75%;
    background-color: #ff6262 !important;
}

.popup_info {
    display: flex;
    align-items: center;
    // background-color: green;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.popup_user {
    display: flex;
    align-items: center;
}
/* ปุ่มใน Popup */ 
button {
    margin-top: 10px;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal_content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 650px;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}

.movieinfo_story_detail .highlight {
    color: #AB0A10;
    font-weight: 600;
    font-size: 23px;
}

.Avatar {
    margin-right: 10px;
}

.Name {
    font-size: 16px;
    margin-right: 10px;
}

.Rate {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #AB0A10;
    height: 50px;
    margin-top: 10px;
}

.custom_textarea:focus, .custom_textarea:hover {
    border-color: #ff4d4f !important; /* เปลี่ยนสีขอบเป็นสีแดง */
    box-shadow: 0 0 2px rgba(255, 77, 79, 0.5); /* เพิ่มเงา */
}

.highlight {
    color: #AB0A10;
}

.comment_actions {  
    margin-top: 10px;
}