* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:#1d1d1d;
    width: 100%;
    height: 319px;
}
.containerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.followHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 5%;
    width: 37%;
    min-height: 100px;
    color: white;
    font-size: clamp(1.2rem, 2.0vw, 1rem);
    border: 0.05rem solid rgb(110, 110, 110);
    border-radius: 8px;
    margin-top: 75px;
    &_text {
        
    }
}

.followHeader2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3%;
    width: 37%;
    min-height: 100px;
    color: white;
    font-size: clamp(1.2rem, 2.0vw, 1rem);
    border: 0.05rem solid rgb(110, 110, 110);
    border-radius: 8px;
    margin-top: 75px;
    margin-left: 50px;
    &_text {
        &_main {
            font-weight: 600;
            margin-bottom: 10px;
        }
        &_sub {
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.qrcode {
    width: 80px;
    height: 80px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* บีบ/ครอบภาพให้เต็มกรอบโดยไม่เพี้ยน */
        display: block;
        border-radius: 5px;
    }
}


.container_SocialMedia {
    display: flex;
}

.container_Logo {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
    margin: 0 0.5rem;
    width: clamp(3rem, 4vw, 4rem);
    height: clamp(3rem, 4vw, 4rem);
}

.container_Logo:hover {
    background-color: #2e2e2e;
}

.Logo {
    width: clamp(2.5rem, 2.5vw, 2rem);
}

.copyright {
    font-size: 16px;
    color: #cbcbcb;
}

.followLink {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    text-decoration: none;
    flex-wrap: wrap;
    color: #cbcbcb;
    // background-color: aqua;
    a {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 50px;
        flex-basis: auto;
        text-align: center;
        // background-color: aqua;
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: #cbcbcb;
}