@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #AB0A10;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

.container {
    background-color: rgb(8, 8, 8);
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

//##### ส่วนหน่้าปก ######
.carouselContainer {
    width: 100%;
    padding: 20px;
    // background-color: yellow;
    height: 700px;
}

.coverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 780px;
    overflow: hidden;
    object-fit: cover; 
}

.coverImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000005b;
}

.movieName {
    position: absolute;
    top: 150px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    z-index: 333;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 95%;
    padding: 0px 60px 0px 70px;
    &_title {
        text-shadow: 0 0 5px rgb(23, 23, 23);
        font-size: 50px;
        font-weight: 600;
    }
    &_EngTitle {
        margin-top: -10px;
        font-size: 25px;
        font-weight: 400;
    }
    &_Date {
        margin-top: 30px;
        font-size: 20px;
        color: #8b8b8b;
        // text-shadow: 0 0 5px rgb(23, 23, 23);
    }
    &_Rating {
        position: relative;
        color: #ffffff;
        text-shadow: 0 0 5px rgb(23, 23, 23);
        top: 10px;
        font-size: 30px;
        text-align: center;
        &_Score{
            color: #fc363c;
            font-size: 40px;
            font-weight: 500;
            text-shadow: 0 0 5px rgb(102, 14, 5);
        }
    }
    
    // background-color: #0aab22;
}

.coverCardSlideContainer {
    // background-color: #0aab22;
    width: 100%;
    margin-top: 250px;
}
.mySwiper {
    cursor: grab;
}

.mySwiper:active {
    cursor: grabbing;
    margin-top: 280px;
}

.movieSlide {
    position: relative;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.7;
    margin-right: 0px !important;
    width: 410px !important;
    &.swiperSlideActive {
        transform: scale(1);
        opacity: 1;
    }
}

.movieList {
    position: relative;
    height: 100%;
    width: 290px;
    border-radius: 8px;
    margin-bottom: 200px;
    // background-color: aquamarine;
    overflow: hidden;
}

.Movie_Background {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
}

.movieSelect {
    height: 390px;
    width: 290px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: inset 0px -115px 147px 1px rgba(29,29,29,1);
    padding: 40px;
    div {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        color:white;
    }
    button {
        color:#FFF;
        background-color: var(--primary-color);
        border-radius: 5px;
        padding: 5px 20px;
        border: none;
        height: 30px;
        width: 120px;
        opacity: 0; /* เริ่มต้นด้วยความโปร่งใส */
        transform: translateY(20px); /* เริ่มต้นด้วยการเลื่อนขึ้นจากด้านล่าง */
        transition: opacity 2s ease, transform 2s ease; /* เพิ่ม transition */
    }

    &.active button {
        opacity: 1;
        transform: translateY(0); /* เลื่อนปุ่มกลับมาอยู่ตำแหน่งเดิม */
    }
}


// ####### ข่าว ############
.News {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    width: 100%;
    padding: 0px 100px;
    margin-top: 20px;
    font-size: 25px;
    &_Header {
        width: 100%;
        color: rgb(245, 245, 245);
        border-left: 4px solid #AB0A10;
        padding-left: 15px;
        font-weight: 500;
        background: linear-gradient(90deg, rgba(171,10,16,0.25) 0%, rgba(0,0,0,0) 40%);
    }
    
    &_Container2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        &_Courasel {
            width: 50%;
            height: 350px;
            background-color: #ffffff;
        }
        &_Other{
            width: 40%;
            height: 350px;
            margin: 0px 15px;
            // background-color: #0aab22;
            display: flex;
        }
    }
}

.News_SwiperSlide {
    width: 100%;
    height: 100%;
}
.slide_container {
    display: flex;
    flex-direction: column-reverse;
    background-color: #0aab22;
    height: 350px;
    width: 100%;
}

.slide_image {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.slide_overlay {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 60%; /* ปรับให้มืดแค่ครึ่งล่าง */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    z-index: 2;
}

.slide_text {
    z-index: 2;
    color: #FFF;
    padding: 5%;
}
.slide_othercontainer {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    // background-color: #0aab22;
    margin-right: 5px;
    height: 350px;
    width: 100%;
}

.slide_otherimage {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
// #######  หน้าเนื้อ ############

.Movie {
    // background-color: #AB0A10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 100px;
    margin-top: 90px;
    font-size: 25px;
    &_Header {
        color: rgb(245, 245, 245);
        border-left: 4px solid #AB0A10;
        box-shadow: inset 5px red;
        padding-left: 15px;
        font-weight: 500;
        background: linear-gradient(90deg, rgba(171,10,16,0.25) 0%, rgba(0,0,0,0) 40%);
    } 
   :nth-child(2) {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: #ab0a0f7b;
    border-radius: 10px;
    padding: 5px 15px;
   }
   &_Button {
    border: none;
    cursor: pointer;
   }
}

.Container_Rank {
    position: absolute;
    left: 0;
    // background-color: #0aab22;
    width: 15%;
    display: flex;
    transform: rotate(-10deg);
    &_Star {
        position: relative;
        width: 100%;
    }
    &_Number {
        position: relative;
        top: 5px;
        left: -63%;
        color:#ffffff;
        font-size: 25px;
        z-index: 20;
        text-shadow: 0px 0px 10px #000;
    }
}

.emoji {
    margin-left: 10px;
    font-size: 25px; 
}

.Movie_Container {
    // margin-top: 49px;
    width: 90%;
    padding: 20px;
}

.SwiperSlide {
    padding: 20px;
}
.Movie_List {
    width: 309px;
    height: 450px;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: inset 0px -115px 204px -33px rgb(0, 0, 0);
    margin-right: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 30px 30px;
    color: #FFF;
    &_Name {
        font-size: 22px;
        font-weight: 500;   
    }
    &_Date {
        font-size: 16px;  
    }
    &_Age {
        font-weight: 500;
    }
    &_Lang {
        display: flex;
    }
    &:hover {
        transform: scale(1.05);
        z-index: 10;
        transition: transform 0.2s ease-in-out;
    }
    &:not(:hover) {
        transition: transform 0.3s ease-in-out; /* หดตัวช้า */
    }
}

.Movie_List_Lang {
    div {
        background-color: #ffffff25;
        margin-right: 6px;
        border-radius: 5px;
        padding: 4px 10px;
    }
}
.followed_Header {
    color: #000;
    font-size: 25px;
}
.followed {
    &_list {
        background-color: #0F0F0F;
        &_Pic {

        }
        &_Name {
            font-size: 20px;
        }
    }
}
.aboutUs {
    color: #000;
}

@media (max-width: 480px) and (min-width: 320px) {
    .carouselContainer {
        width: 100%;
        margin: auto;
        padding: 10px;
        padding-top: 280px;
        background-color: yellow;
        height: 400px;
        overflow: hidden;
    } 

    .coverImage {
        min-height: 50px;
        overflow: hidden;
        object-fit: contain; 
        height: 50px;
        img {
            width: 100%;
        }
    }

    .coverCardSlideContainer {
        margin-top: 270px;
        z-index: 2;
    }
}

@media (max-width: 1024px) {
    .coverImage {
        height: 500px;
    }
    .movieSlide {
        margin-bottom: 250px;
    }
    .coverCardSlideContainer {
        // background-color: #0aab22;
        width: 100%;
        margin-top: 100px;
    }
    .movieList {
        position: relative;
        height: 100%;
        width: 290px;
        border-radius: 8px;
        margin-bottom: 200px;
        background-color: aquamarine;
        overflow: hidden;
    }
}

.marqueeContainer {
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 10px 0;
}

.marqueeText {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
  font-size: 18px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}